<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>PayPal</name>
    <faqlink>https://docs.phpshop.ru/moduli/platezhnye-sistemy/paypal</faqlink>
    <description>Прием оплат через PayPal.</description>
    <category>payment</category>
    <adminmenu>
        <title>Прием оплат через PayPal</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.paypal</podmenu_action>
        </podmenu>
    </adminmenu>
</module>