<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Status History</name>
    <description>История изменения статусов заказа.</description>
    <faqlink>https://docs.phpshop.ru/moduli/razrabotchikam/status-history</faqlink>
    <category>develop</category>
</module>