<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Комплектующие</name>
    <description>Модуль продаж сборных товаров.</description>
    <category>sale</category>
    <faqlink>https://docs.phpshop.ru/moduli/prodazhi/components</faqlink>
    <sign>1713776737</sign>
    <adminmenu>
        <title>Комплектующие</title>
        <capability>true</capability>
    </adminmenu>
</module>