<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>PayKeeper</name>
    <faqlink>https://docs.phpshop.ru/moduli/platezhnye-sistemy/paykeeper</faqlink>
    <description>Прием оплат через PayKeeper.</description>
    <category>payment</category>
    <adminmenu>
        <title>PayKeeper</title>
        <capability>true</capability>
    </adminmenu>
</module>
