
@font-face {
  font-family: "feather";
  src: url('../fonts/feather.eot?t=1501841394106'); /* IE9*/
  src: url('../fonts/feather.eot?t=1501841394106#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/feather.woff?t=1501841394106') format('woff'), /* chrome, firefox */
  url('../fonts/feather.ttf?t=1501841394106') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/feather.svg?t=1501841394106#feather') format('svg'); /* iOS 4.1- */
}

.feather {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconz-alert-octagon:before { content: "\e81b"; }

.iconz-alert-circle:before { content: "\e81c"; }

.iconz-activity:before { content: "\e81d"; }

.iconz-alert-triangle:before { content: "\e81e"; }

.iconz-align-center:before { content: "\e81f"; }

.iconz-airplay:before { content: "\e820"; }

.iconz-align-justify:before { content: "\e821"; }

.iconz-align-left:before { content: "\e822"; }

.iconz-align-right:before { content: "\e823"; }

.iconz-arrow-down-left:before { content: "\e824"; }

.iconz-arrow-down-right:before { content: "\e825"; }

.iconz-anchor:before { content: "\e826"; }

.iconz-aperture:before { content: "\e827"; }

.iconz-arrow-left:before { content: "\e828"; }

.iconz-arrow-right:before { content: "\e829"; }

.iconz-arrow-down:before { content: "\e82a"; }

.iconz-arrow-up-left:before { content: "\e82b"; }

.iconz-arrow-up-right:before { content: "\e82c"; }

.iconz-arrow-up:before { content: "\e82d"; }

.iconz-award:before { content: "\e82e"; }

.iconz-bar-chart:before { content: "\e82f"; }

.iconz-at-sign:before { content: "\e830"; }

.iconz-bar-chart-2:before { content: "\e831"; }

.iconz-battery-charging:before { content: "\e832"; }

.iconz-bell-off:before { content: "\e833"; }

.iconz-battery:before { content: "\e834"; }

.iconz-bluetooth:before { content: "\e835"; }

.iconz-bell:before { content: "\e836"; }

.iconz-book:before { content: "\e837"; }

.iconz-briefcase:before { content: "\e838"; }

.iconz-camera-off:before { content: "\e839"; }

.iconz-calendar:before { content: "\e83a"; }

.iconz-bookmark:before { content: "\e83b"; }

.iconz-box:before { content: "\e83c"; }

.iconz-camera:before { content: "\e83d"; }

.iconz-check-circle:before { content: "\e83e"; }

.iconz-check:before { content: "\e83f"; }

.iconz-check-square:before { content: "\e840"; }

.iconz-cast:before { content: "\e841"; }

.iconz-chevron-down:before { content: "\e842"; }

.iconz-chevron-left:before { content: "\e843"; }

.iconz-chevron-right:before { content: "\e844"; }

.iconz-chevron-up:before { content: "\e845"; }

.iconz-chevrons-down:before { content: "\e846"; }

.iconz-chevrons-right:before { content: "\e847"; }

.iconz-chevrons-up:before { content: "\e848"; }

.iconz-chevrons-left:before { content: "\e849"; }

.iconz-circle:before { content: "\e84a"; }

.iconz-clipboard:before { content: "\e84b"; }

.iconz-chrome:before { content: "\e84c"; }

.iconz-clock:before { content: "\e84d"; }

.iconz-cloud-lightning:before { content: "\e84e"; }

.iconz-cloud-drizzle:before { content: "\e84f"; }

.iconz-cloud-rain:before { content: "\e850"; }

.iconz-cloud-off:before { content: "\e851"; }

.iconz-codepen:before { content: "\e852"; }

.iconz-cloud-snow:before { content: "\e853"; }

.iconz-compass:before { content: "\e854"; }

.iconz-copy:before { content: "\e855"; }

.iconz-corner-down-right:before { content: "\e856"; }

.iconz-corner-down-left:before { content: "\e857"; }

.iconz-corner-left-down:before { content: "\e858"; }

.iconz-corner-left-up:before { content: "\e859"; }

.iconz-corner-up-left:before { content: "\e85a"; }

.iconz-corner-up-right:before { content: "\e85b"; }

.iconz-corner-right-down:before { content: "\e85c"; }

.iconz-corner-right-up:before { content: "\e85d"; }

.iconz-cpu:before { content: "\e85e"; }

.iconz-credit-card:before { content: "\e85f"; }

.iconz-crosshair:before { content: "\e860"; }

.iconz-disc:before { content: "\e861"; }

.iconz-delete:before { content: "\e862"; }

.iconz-download-cloud:before { content: "\e863"; }

.iconz-download:before { content: "\e864"; }

.iconz-droplet:before { content: "\e865"; }

.iconz-edit-2:before { content: "\e866"; }

.iconz-edit:before { content: "\e867"; }

.iconz-edit-1:before { content: "\e868"; }

.iconz-external-link:before { content: "\e869"; }

.iconz-eye:before { content: "\e86a"; }

.iconz-feather:before { content: "\e86b"; }

.iconz-facebook:before { content: "\e86c"; }

.iconz-file-minus:before { content: "\e86d"; }

.iconz-eye-off:before { content: "\e86e"; }

.iconz-fast-forward:before { content: "\e86f"; }

.iconz-file-text:before { content: "\e870"; }

.iconz-film:before { content: "\e871"; }

.iconz-file:before { content: "\e872"; }

.iconz-file-plus:before { content: "\e873"; }

.iconz-folder:before { content: "\e874"; }

.iconz-filter:before { content: "\e875"; }

.iconz-flag:before { content: "\e876"; }

.iconz-globe:before { content: "\e877"; }

.iconz-grid:before { content: "\e878"; }

.iconz-heart:before { content: "\e879"; }

.iconz-home:before { content: "\e87a"; }

.iconz-github:before { content: "\e87b"; }

.iconz-image:before { content: "\e87c"; }

.iconz-inbox:before { content: "\e87d"; }

.iconz-layers:before { content: "\e87e"; }

.iconz-info:before { content: "\e87f"; }

.iconz-instagram:before { content: "\e880"; }

.iconz-layout:before { content: "\e881"; }

.iconz-link-2:before { content: "\e882"; }

.iconz-life-buoy:before { content: "\e883"; }

.iconz-link:before { content: "\e884"; }

.iconz-log-in:before { content: "\e885"; }

.iconz-list:before { content: "\e886"; }

.iconz-lock:before { content: "\e887"; }

.iconz-log-out:before { content: "\e888"; }

.iconz-loader:before { content: "\e889"; }

.iconz-mail:before { content: "\e88a"; }

.iconz-maximize-2:before { content: "\e88b"; }

.iconz-map:before { content: "\e88c"; }

.iconz-map-pin:before { content: "\e88e"; }

.iconz-menu:before { content: "\e88f"; }

.iconz-message-circle:before { content: "\e890"; }

.iconz-message-square:before { content: "\e891"; }

.iconz-minimize-2:before { content: "\e892"; }

.iconz-mic-off:before { content: "\e893"; }

.iconz-minus-circle:before { content: "\e894"; }

.iconz-mic:before { content: "\e895"; }

.iconz-minus-square:before { content: "\e896"; }

.iconz-minus:before { content: "\e897"; }

.iconz-moon:before { content: "\e898"; }

.iconz-monitor:before { content: "\e899"; }

.iconz-more-vertical:before { content: "\e89a"; }

.iconz-more-horizontal:before { content: "\e89b"; }

.iconz-move:before { content: "\e89c"; }

.iconz-music:before { content: "\e89d"; }

.iconz-navigation-2:before { content: "\e89e"; }

.iconz-navigation:before { content: "\e89f"; }

.iconz-octagon:before { content: "\e8a0"; }

.iconz-package:before { content: "\e8a1"; }

.iconz-pause-circle:before { content: "\e8a2"; }

.iconz-pause:before { content: "\e8a3"; }

.iconz-percent:before { content: "\e8a4"; }

.iconz-phone-call:before { content: "\e8a5"; }

.iconz-phone-forwarded:before { content: "\e8a6"; }

.iconz-phone-missed:before { content: "\e8a7"; }

.iconz-phone-off:before { content: "\e8a8"; }

.iconz-phone-incoming:before { content: "\e8a9"; }

.iconz-phone:before { content: "\e8aa"; }

.iconz-phone-outgoing:before { content: "\e8ab"; }

.iconz-pie-chart:before { content: "\e8ac"; }

.iconz-play-circle:before { content: "\e8ad"; }

.iconz-play:before { content: "\e8ae"; }

.iconz-plus-square:before { content: "\e8af"; }

.iconz-plus-circle:before { content: "\e8b0"; }

.iconz-plus:before { content: "\e8b1"; }

.iconz-pocket:before { content: "\e8b2"; }

.iconz-printer:before { content: "\e8b3"; }

.iconz-power:before { content: "\e8b4"; }

.iconz-radio:before { content: "\e8b5"; }

.iconz-repeat:before { content: "\e8b6"; }

.iconz-refresh-ccw:before { content: "\e8b7"; }

.iconz-rewind:before { content: "\e8b8"; }

.iconz-rotate-ccw:before { content: "\e8b9"; }

.iconz-refresh-cw:before { content: "\e8ba"; }

.iconz-rotate-cw:before { content: "\e8bb"; }

.iconz-save:before { content: "\e8bc"; }

.iconz-search:before { content: "\e8bd"; }

.iconz-server:before { content: "\e8be"; }

.iconz-scissors:before { content: "\e8bf"; }

.iconz-share-2:before { content: "\e8c0"; }

.iconz-share:before { content: "\e8c1"; }

.iconz-shield:before { content: "\e8c2"; }

.iconz-settings:before { content: "\e8c3"; }

.iconz-skip-back:before { content: "\e8c4"; }

.iconz-shuffle:before { content: "\e8c5"; }

.iconz-sidebar:before { content: "\e8c6"; }

.iconz-skip-forward:before { content: "\e8c7"; }

.iconz-slack:before { content: "\e8c8"; }

.iconz-slash:before { content: "\e8c9"; }

.iconz-smartphone:before { content: "\e8ca"; }

.iconz-square:before { content: "\e8cb"; }

.iconz-speaker:before { content: "\e8cc"; }

.iconz-star:before { content: "\e8cd"; }

.iconz-stop-circle:before { content: "\e8ce"; }

.iconz-sun:before { content: "\e8cf"; }

.iconz-sunrise:before { content: "\e8d0"; }

.iconz-tablet:before { content: "\e8d1"; }

.iconz-tag:before { content: "\e8d2"; }

.iconz-sunset:before { content: "\e8d3"; }

.iconz-target:before { content: "\e8d4"; }

.iconz-thermometer:before { content: "\e8d5"; }

.iconz-thumbs-up:before { content: "\e8d6"; }

.iconz-thumbs-down:before { content: "\e8d7"; }

.iconz-toggle-left:before { content: "\e8d8"; }

.iconz-toggle-right:before { content: "\e8d9"; }

.iconz-trash-2:before { content: "\e8da"; }

.iconz-trash:before { content: "\e8db"; }

.iconz-trending-up:before { content: "\e8dc"; }

.iconz-trending-down:before { content: "\e8dd"; }

.iconz-triangle:before { content: "\e8de"; }

.iconz-type:before { content: "\e8df"; }

.iconz-twitter:before { content: "\e8e0"; }

.iconz-upload:before { content: "\e8e1"; }

.iconz-umbrella:before { content: "\e8e2"; }

.iconz-upload-cloud:before { content: "\e8e3"; }

.iconz-unlock:before { content: "\e8e4"; }

.iconz-user-check:before { content: "\e8e5"; }

.iconz-user-minus:before { content: "\e8e6"; }

.iconz-user-plus:before { content: "\e8e7"; }

.iconz-user-x:before { content: "\e8e8"; }

.iconz-user:before { content: "\e8e9"; }

.iconz-users:before { content: "\e8ea"; }

.iconz-video-off:before { content: "\e8eb"; }

.iconz-video:before { content: "\e8ec"; }

.iconz-voicemail:before { content: "\e8ed"; }

.iconz-volume-x:before { content: "\e8ee"; }

.iconz-volume-2:before { content: "\e8ef"; }

.iconz-volume-1:before { content: "\e8f0"; }

.iconz-volume:before { content: "\e8f1"; }

.iconz-watch:before { content: "\e8f2"; }

.iconz-wifi:before { content: "\e8f3"; }

.iconz-x-square:before { content: "\e8f4"; }

.iconz-wind:before { content: "\e8f5"; }

.iconz-x:before { content: "\e8f6"; }

.iconz-x-circle:before { content: "\e8f7"; }

.iconz-zap:before { content: "\e8f8"; }

.iconz-zoom-in:before { content: "\e8f9"; }

.iconz-zoom-out:before { content: "\e8fa"; }

.iconz-command:before { content: "\e8fb"; }

.iconz-cloud:before { content: "\e8fc"; }

.iconz-hash:before { content: "\e8fd"; }

.iconz-headphones:before { content: "\e8fe"; }

.iconz-underline:before { content: "\e8ff"; }

.iconz-italic:before { content: "\e900"; }

.iconz-bold:before { content: "\e901"; }

.iconz-crop:before { content: "\e902"; }

.iconz-help-circle:before { content: "\e903"; }

.iconz-paperclip:before { content: "\e904"; }

.iconz-shopping-cart:before { content: "\e905"; }

.iconz-tv:before { content: "\e906"; }

.iconz-wifi-off:before { content: "\e907"; }

.iconz-minimize:before { content: "\e88d"; }

.iconz-maximize:before { content: "\e908"; }

.iconz-gitlab:before { content: "\e909"; }

.iconz-sliders:before { content: "\e90a"; }

.iconz-star-on:before { content: "\e90b"; }

.iconz-heart-on:before { content: "\e90c"; }