<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>Partner</name>
    <faqlink>https://docs.phpshop.ru/moduli/prodazhi/partner</faqlink>
    <description>Модуль партнерской программы и учета реферальных ссылок.</description>
    <category>sale,pro</category>
    <pro>true</pro>
    <sign>1651653745</sign>
    <adminmenu>
        <title>Партнерская программа</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Обзор партнеров</podmenu_name>
            <podmenu_action>dir.partner</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Заявки на вывод</podmenu_name>
            <podmenu_action>dir.partner.payment</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Журнал заказов</podmenu_name>
            <podmenu_action>dir.partner.log</podmenu_action>
        </podmenu>
    </adminmenu>
</module>