<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>2can&amp;ibox</name>
    <description>Прием оплат через 2can&amp;ibox.</description>
    <category>payment</category>
    <faqlink>https://docs.phpshop.ru/moduli/platezhnye-sistemy/twocan</faqlink>
     <adminmenu>
        <title>2can&amp;ibox</title>
        <capability>true</capability>
         <podmenu>
             <podmenu_name>Журнал операций</podmenu_name>
             <podmenu_action>dir.twocan</podmenu_action>
         </podmenu>
    </adminmenu>
</module>