<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Нова пошта</name>
    <description>Служба доставки "Нова пошта" для Украины.</description>
    <category>delivery</category>
    <faqlink>https://docs.phpshop.ru/moduli/dostavka/nova-poshta</faqlink>
    <sign>1604388566</sign>
    <adminmenu>
        <title>Нова пошта</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.novaposhta</podmenu_action>
        </podmenu>
    </adminmenu>
</module>