<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>1С синхронизация</name>
    <description>Модуль настройки синхронизации с 1С и МойСклад.</description>
    <faqlink>https://docs.phpshop.ru/sinkhronizaciya-s-1s/ustanovka-i-aktivaciya-1s-sinkhronizacii</faqlink>
    <category>crm,pro</category>
    <pro>true</pro>
    <catalog>true</catalog>
    <adminmenu>
        <title>1С синхронизация</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Обмен данными</podmenu_name>
            <podmenu_action>system.sync</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>report.crm</podmenu_action>
        </podmenu>
    </adminmenu>
</module>