<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Хиты</name>
    <faqlink>https://docs.phpshop.ru/moduli/prodazhi/khity-prodazh</faqlink>
    <description>Выводит товары, отмеченные хитами.</description>
    <category>sale</category>
    <adminmenu>
        <title>Хиты</title>
        <capability>true</capability>
    </adminmenu>
</module>