<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Т-банк Кредит</name>
    <description>Покупка в кредит от Т-банк.</description>
    <faqlink>https://docs.phpshop.ru/moduli/kreditovanie/kupi-v-kredit-tinkoff</faqlink>
    <category>credit</category>
    <sign>1542198276</sign>
    <adminmenu>
        <title>Купи к кредит</title>
        <capability>true</capability>
    </adminmenu>
</module>